body.home {
  #thing {
    margin-top: $vs-75p;

    .--logo {
      margin-left: 20px;
      width: 150px;
    }

    .--bar {
      height: 20px;
      background-color: $color-primary;
      background-image: $color-primary;
      background-image: -webkit-linear-gradient(left, $color-primary , $color-primary - 30);
      background-image: -o-linear-gradient(right, $color-primary, $color-primary - 30);
      background-image: -moz-linear-gradient(right, $color-primary, $color-primary - 30);
      background-image: linear-gradient(to right, $color-primary, $color-primary - 30);
    }

    @media screen and (min-width: 480px) {
      .--bar {
        height: 30px;
      }
    }

    .k-banner p {
      color: $gray-regular;
    }
  }

  #palette-colors li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    list-style: none;
    border: 1px solid #000;
  }

  #grid-example {
    text-align: center;

    code {
      display: block;
      background-color: rgba(255,255,255,0.5);
    }
  }
}
