// Colors
$color-primary:   #7f1199;  .k-color-primary   { color: $color-primary;   };  .k-bg-color-primary   { background-color: $color-primary;   }
$color-secondary: #8f86d9;  .k-color-secondary { color: $color-secondary; };  .k-bg-color-secondary { background-color: $color-secondary; }
$color-inverse:   #fff;     .k-color-inverse   { color: $color-inverse;   };  .k-bg-color-inverse   { background-color: $color-inverse;   }
$color-success:   #5cb85c;  .k-color-success   { color: $color-success;   };  .k-bg-color-success   { background-color: $color-success;   }
$color-info:      #5bc0de;  .k-color-info      { color: $color-info;      };  .k-bg-color-info      { background-color: $color-info;      }
$color-warning:   #f0ad4e;  .k-color-warning   { color: $color-warning;   };  .k-bg-color-warning   { background-color: $color-warning;   }
$color-danger:    #d9534f;  .k-color-danger    { color: $color-danger;    };  .k-bg-color-danger    { background-color: $color-danger;    }

// Grayscale
$gray-base:    lighten(#000, 0%);         .k-gray-base    { color: $gray-base;    };  .k-bg-gray-base    { background-color: $gray-base;    }
$gray-darker:  lighten($gray-base, 15%);  .k-gray-darker  { color: $gray-darker;  };  .k-bg-gray-darker  { background-color: $gray-darker;  }
$gray-dark:    lighten($gray-base, 35%);  .k-gray-dark    { color: $gray-dark;    };  .k-bg-gray-dark    { background-color: $gray-dark;    }
$gray-regular: lighten($gray-base, 50%);  .k-gray-regular { color: $gray-regular; };  .k-bg-gray-regular { background-color: $gray-regular; }
$gray-light:   lighten($gray-base, 65%);  .k-gray-light   { color: $gray-light;   };  .k-bg-gray-light   { background-color: $gray-light;   }
$gray-lighter: lighten($gray-base, 85%);  .k-gray-lighter { color: $gray-lighter; };  .k-bg-gray-lighter { background-color: $gray-lighter; }
$gray-ghost:   lighten($gray-base, 90%);  .k-gray-ghost   { color: $gray-ghost;   };  .k-bg-gray-ghost   { background-color: $gray-ghost;   }

// Vertical space
$vs-100p: 100px;
$vs-75p: $vs-100p * .75;
$vs-50p: $vs-100p * .50;  .k-vs-50p { margin-bottom: $vs-50p; }
$vs-25p: $vs-100p * .25;  .k-vs-25p { margin-bottom: $vs-25p; }
$vs-15p: $vs-100p * .15;

// Normalize
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, p, figure, ul, li {
  margin: 0;
  padding: 0;
}

i, img { vertical-align: middle; }

// Sizes
img.k-sm { width: 30px; }
img.k-md { width: 40px; }
img.k-lg { width: 50px; }
.k-xs { font-size: 12px; }
.k-sm { font-size: 14px; }
.k-md { font-size: 16px; }
.k-lg { font-size: 18px; }
.k-xl { font-size: 2em; }

// Header
.k-header {
  padding: 20px;
  background-color: #fff;
  // background-image: url("https://placekitten.com/2100/580");
  // background-position: bottom center;
  // background-size: cover;

  .k-container {
    display: table;
    width: 100%;
  }

  .k-logo {
    display: table-cell;
    width: 150px;
    vertical-align: middle;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  .k-navbar {
    display: table-cell;
    vertical-align: middle;
    text-align: right;

    ul {
      display: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      list-style: none;
    }

    a {
      display: inline-block;
      padding-top: 10px;
      padding-right: 5px;
      padding-bottom: 10px;
      padding-left: 5px;
      color: $gray-dark;
      font-family: 'Nunito', sans-serif;
      font-size: 13px;
      font-weight: 400;
      text-decoration: none;
      text-transform: uppercase;

      &:hover { color: $gray-darker; }
      &:active { color: $gray-base; }
    }

    .k-navbar-button a {
      padding: 5px;
      margin-left: 5px;
      color: $color-inverse;
      background-color: $color-primary;
      border-radius: 4px;

      &:hover { background-color: $color-primary + 20; }
    }

    @media screen and (min-width: 510px) {
      .k-navbar-button a {
        margin-left: 30px;
      }
    }

    .k-navbar-controls {
      position: relative;
      float: right;
      width: 26px;
      height: 26px;
      padding: 6px;
      color: $gray-dark;
      cursor: pointer;
      user-select: none;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .k-navbar-close {
      display: none;
    }

    &.k-as-overlay {
      position: fixed;
      display: table;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background-color: rgba(255,255,255,.95);

      ul {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }

      li {
        display: block;
      }

      a {
        font-size: 16px;
      }

      .k-navbar-button a {
        margin-left: 0;
      }

      .k-navbar-controls {
        position: absolute;
        top: 25px;
        right: 20px;
      }

      .k-navbar-close {
        display: inline;
      }

      .k-navbar-hamburger {
        display: none;
      }
    }
  }

  @media screen and (min-width: 480px) {
    .k-navbar {
      display: table-cell;

      ul {
        display: block;
      }
    }

    .k-navbar:not(.k-as-overlay) .k-navbar-controls {
      display: none;
    }
  }

}

// Page header
.k-page-header {
  padding-top: $vs-75p;
  padding-bottom: $vs-75p;
  text-align: center;

  h1 {
    margin-bottom: $vs-15p;
    font-size: 48px;
    color: $color-inverse;
  }

  p {
    font-size: 28px;
    color: $gray-lighter;
  }
}

// Section
.k-section {
  margin-top: $vs-25p;
}

@media screen and (min-width: 480px) {
  .k-section {
    margin-top: $vs-75p;
  }
}

// Article
.k-article {
  h2.k-heading { margin-bottom: $vs-50p; }

  h3.k-heading,
  h4.k-heading,
  p,
  ul {
    margin-bottom: $vs-25p;
  }

  p + h2.k-heading { margin-top: $vs-50p; }
  p:last-child { margin-bottom: $vs-75p; }
  p.k-sm:last-child { margin-bottom: $vs-50p; }
}

// Banner
.k-banner {
  padding-top: $vs-100p;
  padding-bottom: $vs-100p;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;

  .k-heading { margin-bottom: $vs-15p; }

  p {
    padding-right: 10%;
    padding-left: 10%;
    color: $gray-dark;
  }
}

// Jumbotron
.k-jumbotron {
  padding-right: 20px;
  padding-left: 20px;
  background: $color-primary;

  .k-heading { color: $color-inverse; }
  p { color: $gray-lighter; }
}

// Figure
.k-figure {
  margin-bottom: $vs-75p;
  text-align: center;

  a {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .k-container {
    margin-bottom: $vs-25p;

    img { width: 80px; }
  }

  .k-heading {  margin-bottom: $vs-25p; }
}

// Horizontal rule
.k-hr {
  overflow: hidden;
  clear: both;
  margin: 0;
  height: 1px;
  border: none;
  background-color: $gray-ghost;
}

// Heading
.k-heading {
  font-family: 'Nunito', sans-serif;
  color: $color-primary;
}

// Media object
.k-media {
  display: table;
  margin-bottom: $vs-75p;

  .k-media-left {
    display: table-cell;

    &.k-sm {
      width: 30px;
      padding-right: 18px;
    }

    &.k-md {
      width: 40px;
      padding-right: 20px;
    }

    &.k-lg {
      width: 50px;
      padding-right: 22px;
    }
  }

  .k-media-body {
    display: table-cell;
    vertical-align: top;
  }

  .k-heading {
    margin-bottom: $vs-15p;

    i, img { margin-right: 20px; }
  }
}

// Button
.k-button {
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;

  &.k-as-block { display: block; }

  &.k-sm {
    padding: 4px 6px 4px 6px;
    font-size: 12px;
  }

  &.k-md {
    padding: 8px;
  }

  &.k-lg {
    padding: 12px;
    font-size: 18px;
  }

  &.k-bg-color-inverse {
    border: 2px solid $color-primary;
  }

  &.k-color-primary:hover {
    color: $color-inverse;
    background-color: $color-primary;
  }
}

// Footer
.k-footer {
  margin-top: 20px;
  padding-top: $vs-25p;
  background-color: $gray-ghost;

  .k-heading {
    margin-bottom: $vs-15p;
    text-transform: uppercase;
  }

  .k-sitemap .k-container {
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: $vs-25p;

    li {
      margin-bottom: 2px;
      list-style: none;
    }

    a {
      color: $gray-light;
      font-size: 12px;
      text-decoration: none;

      &:hover {
        color: $color-primary;
        text-decoration: underline;
      }
    }
  }

  @media screen and (min-width: 480px) {
    .k-sitemap .k-container {
      margin-right: 40px;
    }
  }

  .k-address {
    text-align: right;

    address { font-style: normal; }

    small {
      display: block;
      margin-bottom: 4px;
    }

    a {
      color: $gray-dark;
      text-decoration: none;

      &:hover i { color: $gray-darker; }
    }
  }

  .k-details {
    clear: both;
    padding: 15px 20px 15px 20px;
    border-top: 1px solid $gray-lighter;

    small {
      font-size: 10px;
      color: $gray-regular;
    }

    ul { float: right; }

    li {
      display: inline-block;
      list-style: none;
    }

    a {
      padding: 5px;
      font-size: 10px;
      text-decoration: none;
      color: $gray-light;

      &:hover { color: $gray-regular; }
    }
  }

  @media screen and (min-width: 480px) {
    .k-details {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

@import "_home";
@import "_site-map";
