//
// Para el home
//
.mainHome {
	position: relative;
  overflow-y: hidden;
  border-bottom: $space-2 solid $color-greenlight;
  .hero {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.10);
    video {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	min-width: 100%;
    	min-height: 100%;
      width: 100%;
    	height: auto;
    	z-index: -100;
    	transform: translateX(-50%) translateY(-50%);
    	background: url('../images/bg-video-img.png') no-repeat;
    	background-size: cover;
    	transition: 1s opacity;
      @media screen and (max-width: $mobile) {
        position: absolute;
        width: auto;
        z-index: -100;
        background: url('../images/bg-video-img.png') no-repeat;
        background-size: cover;
        transition: 1s opacity;
        display: flex;
        height: 100%;
      }
    }

    .video-text-wrap {
			display: flex;
			height: 100%;
			align-items: center;
			max-width: 1232px;
			padding: 16px;
			padding-top: 88px;
			margin: 0 auto;
      .video-text-block {
        display: flex;
        flex-direction: column;
        flex-basis: 49%;
        position: relative;
        @media screen and (max-width: $mobile) {
          flex-basis: 100%;
        }
      }
      h1 {
        color: #fff;
        text-transform: uppercase;
        margin-top: 0;
        letter-spacing: -3px;
        font-size: 40px;
        line-height: 48px;
        &:first-line {
          font-size: 56px;
        }
      }
      p {
        color: #fff;
        font-size: 24px;
        text-align: left;
        width: 78%;
      }
      button {
        display: block;
        width: 80%;
        padding: .4rem;
        border: none;
        margin: 1rem auto;
        font-size: 1.3rem;
        background: rgba(255,255,255,0.23);
        color: #fff;
        border-radius: 3px;
        cursor: pointer;
        transition: .3s background;
      }
      button:hover {
        background: rgba(0,0,0,0.5);
      }
      a {
        transition: .6s background;
      }
    }
    // @media screen and (max-width: 500px) {
    //   div{width:70%;}
    // }
    // @media screen and (max-device-width: 800px) {
    //   html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
    //   #bgvid { display: none; }
    // }
  }
}

//
// Fin de estilos para el home
//
